@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body{
    margin: 0;
    font-family: 'Poppins';
    background-color: #9290C3;
    color: #1B1A55;
}

#intro-part{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#intro-part h3{
    margin-bottom: 0;
}
#intro-part h4{
    margin-top: 0;
}

#button-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-button{
    background-color: #535C91; /* Green */
    border-radius: 100px;
    border: none;
    color: #1B1A55;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#start-button:hover{
    background-color: #485183 ;
}

#fname{
    border-radius: 50px;
    text-align: center;
    border: none; 
}

#submit-button{
    background-color: #535C91; /* Green */
    border-radius: 100px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#form-name{
    display: none;
    flex-direction: column;
    align-items: center;
    color: #1B1A55;
    font-weight: bold;
}

#rolling-part{
    display: none;
    flex-direction: column;
    align-items: center;
}
#roll{
    background-color: #535C91; /* Green */
    border-radius: 100px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
}

#result{
    font-weight: bold;
    font-size: large;
}